<!-- LiveZilla Chat Button Link Code (ALWAYS PLACE IN BODY ELEMENT) --><!-- LiveZilla Tracking Code (ALWAYS PLACE IN BODY ELEMENT) --><div id="livezilla_tracking" style="display:none"></div><script type="text/javascript">
var script = document.createElement("script");script.async=true;script.type="text/javascript";var src = "http://embalagensparapresente.com.br/livezilla/server.php?a=6cf4a&rqst=track&output=jcrpt&fbpos=22&fbml=0&fbmt=0&fbmr=10&fbmb=10&fbw=160&fbh=58&nse="+Math.random();setTimeout("script.src=src;document.getElementById('livezilla_tracking').appendChild(script)",1);</script><noscript><img src="http://embalagensparapresente.com.br/livezilla/server.php?a=6cf4a&amp;rqst=track&amp;output=nojcrpt&fbpos=22&fbml=0&fbmt=0&fbmr=10&fbmb=10&fbw=160&fbh=58" width="0" height="0" style="visibility:hidden;" alt=""></noscript><!-- http://www.LiveZilla.net Tracking Code --><div style="display:none;"><a href="javascript:void(window.open('http://embalagensparapresente.com.br/livezilla/chat.php?a=b5b56','','width=590,height=760,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))" class="lz_fl"><img id="chat_button_image" src="http://embalagensparapresente.com.br/livezilla/image.php?a=5cfff&amp;id=1&amp;type=overlay" width="160" height="58" style="border:0px;" alt="LiveZilla Live Chat Software"></a></div><!-- http://www.LiveZilla.net Chat Button Link Code -->

        <footer id="footer">

          <div id="inner-footer">

            

        <div class="container">

          <div class="row">

            <div class="col-md-3 col-sm-4 col-xs-12 widget">

               <h3><?php echo $text_account; ?></h3>

              <ul class="links">

                <li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>

                <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>

                <li><a href="<?php echo $wishlist; ?>"><?php echo $text_wishlist; ?></a></li>

                <li><a href="<?php echo $newsletter; ?>"><?php echo $text_newsletter; ?></a></li>

                <li><a href="index.php?route=information/confirmarpagamento">Confirmar Pagamento</a></li>

              </ul>              

            </div><!-- End .widget -->

            

            <div class="col-md-3 col-sm-4 col-xs-12 widget">

              <?php if ($informations) { ?>

              <h3><?php echo $text_information; ?></h3>

              <ul class="links">

                <?php foreach ($informations as $information) { ?>

                <li><a href="<?php echo $information['href']; ?>"><?php echo $information['title']; ?></a></li>

                <?php } ?>

              </ul>

              <?php } ?>

              <ul class="links">

                <li><a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a></li>

                <li><a href="<?php echo $return; ?>"><?php echo $text_return; ?></a></li>

                <li><a href="<?php echo $sitemap; ?>"><?php echo $text_sitemap; ?></a></li>

              </ul>


           




            </div><!-- End .widget -->



            <div class="col-md-3 col-sm-4 col-xs-12 widget">

              <h3>Entre em Contato</h3>

                <ul class="links">

            <li><a href="https://www.facebook.com/embalagensparapresente" title="Facebook embalagensparapresente" target="_blank" class="icon"><i class="fa fa-facebook"></i> <span class="">embalagensparapresente</span></a></li>

            <li><a title="Telefone (11) 3227-8304" class="icon"><i class="fa fa-phone"></i> <span class="">Telefone (11) 3227-5798</span></a></li>

            <li><a title="Whatsapp (11) 9-9732-6795" class="icon"><img src="catalog/view/theme/modelo_1/_galerias/whatsapp.png" width="15" alt=""> <span class="">Whatsapp (11) 9-9732-6795</span></a></li>

            <li><a title="Centro - São Paulo" class="icon"><i class="fa fa-home"></i> <span class="">Centro - São Paulo</span></a></li>

            </ul>

                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8699.708509704387!2d-46.63360276475432!3d-23.54052715476281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5857c07bdcd5%3A0x6b75e15c22ec70b6!2sAv.+Sen.+Queir%C3%B3s%2C+312+-+Centro%2C+S%C3%A3o+Paulo+-+SP!5e0!3m2!1spt-BR!2sbr!4v1455649861074" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div><!-- End .widget -->

            

            <div class="clearfix visible-sm"></div>

            

            <div class="col-md-3 col-sm-12 col-xs-12 widget">

              <h3>Facebook</h3>

              

              <div class="facebook-likebox">
  <div id="fb-root"></div>



      <script>(function(d, s, id) {



        var js, fjs = d.getElementsByTagName(s)[0];



        if (d.getElementById(id)) return;



        js = d.createElement(s); js.id = id;



        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";



        fjs.parentNode.insertBefore(js, fjs);



      }(document, 'script', 'facebook-jssdk'));</script>



      <div class="fb-like-box" data-href="https://www.facebook.com/embalagensparapresente" data-width="340" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>


              </div>

              

              

            </div><!-- End .widget -->

          </div><!-- End .row -->

        </div><!-- End .container -->

          

   </div><!-- End #inner-footer -->

          

          <div id="footer-bottom">

            <div class="container">

              <div class="row">

                

                <div class="col-md-12 col-sm-12 col-xs-12 footer-text-container">

                  <p><?php echo $powered; ?></p>

                </div><!-- End .col-md-5 -->

              </div><!-- End .row -->

        </div><!-- End .container -->

          </div><!-- End #footer-bottom -->

          

        </footer><!-- End #footer -->

    </div><!-- End #wrapper -->

        <a href="#" id="scroll-top" title="Ir para o Topo"><i class="fa fa-angle-up"></i></a><!-- End #scroll-top -->



    <script src="catalog/view/theme/modelo_1/_template/js/bootstrap.min.js"></script>

    <script src="catalog/view/theme/modelo_1/_template/js/smoothscroll.js"></script>

    <script src="catalog/view/theme/modelo_1/_template/js/retina-1.1.0.min.js"></script>

    <script src="catalog/view/theme/modelo_1/_template/js/jquery.placeholder.js"></script>

    <script src="catalog/view/theme/modelo_1/_template/js/jquery.hoverIntent.min.js"></script>

    <script src="catalog/view/theme/modelo_1/_template/js/twitter/jquery.tweet.min.js"></script>

    <script src="catalog/view/theme/modelo_1/_template/js/jquery.flexslider-min.js"></script>

    <script src="catalog/view/theme/modelo_1/_template/js/owl.carousel.min.js"></script>

    <script src="catalog/view/theme/modelo_1/_template/js/jflickrfeed.min.js"></script>

    <script src="catalog/view/theme/modelo_1/_template/js/jquery.prettyPhoto.js"></script>

    <script src="catalog/view/theme/modelo_1/_template/js/jquery.themepunch.plugins.min.js"></script>

    <script src="catalog/view/theme/modelo_1/_template/js/jquery.themepunch.revolution.min.js"></script>

    <script src="catalog/view/theme/modelo_1/_template/js/colpick.js"></script>

    <script src="catalog/view/theme/modelo_1/_template/js/main.js"></script>

  

    <script>

      $(function() {



        // Slider Revolution

            jQuery('#slider-rev').revolution({

                delay:5000,

                startwidth:1170,

                startheight:600,

                onHoverStop:"true",

                hideThumbs:250,

                navigationHAlign:"center",

                navigationVAlign:"bottom",

                navigationHOffset:0,

                navigationVOffset:12,

                soloArrowLeftHalign:"left",

                soloArrowLeftValign:"center",

                soloArrowLeftHOffset:0,

                soloArrowLeftVOffset:0,

                soloArrowRightHalign:"right",

                soloArrowRightValign:"center",

                soloArrowRightHOffset:0,

                soloArrowRightVOffset:0,

                touchenabled:"on",

                stopAtSlide:-1,

                stopAfterLoops:-1,

                dottedOverlay:"none",

                fullWidth:"on",

                shadow:0

         

              });

      

      });

    </script>
</body></html>