<div id="search" class="quick-search-form">
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="form-control" />
    <button type="button" id="quick-search" class="btn btn-custom"></button>
</div>