<?php echo $header; ?>

<div class="container">

  <div id="category-breadcrumb">



  <ul class="breadcrumb">



    <?php foreach ($breadcrumbs as $breadcrumb) { ?>



    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>



    <?php } ?>



  </ul>



</div>

  <?php if ($success) { ?>

  <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>

    <button type="button" class="close" data-dismiss="alert">&times;</button>

  </div>

  <?php } ?>

  <div class="row"><?php echo $column_left; ?>

    <?php if ($column_left && $column_right) { ?>

    <?php $class = 'col-sm-6'; ?>

    <?php } elseif ($column_left || $column_right) { ?>

    <?php $class = 'col-sm-9'; ?>

    <?php } else { ?>

    <?php $class = 'col-sm-12'; ?>

    <?php } ?>

    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
<header class="content-title">
         <h6 class="title"><?php echo $heading_title; ?></h6>
       </header>

      <?php if ($products) { ?>

      <table class="table table-bordered table-striped">

        <thead>

          <tr>

            <td colspan="<?php echo count($products) + 1; ?>"><strong><?php echo $text_product; ?></strong></td>

          </tr>

        </thead>

        <tbody>

          <tr>

            <td width="10%"><b><?php echo $text_name; ?></b></td>

            <?php foreach ($products as $product) { ?>

            <td><a href="<?php echo $products[$product['product_id']]['href']; ?>"><strong><?php echo $products[$product['product_id']]['name']; ?></strong></a></td>

            <?php } ?>

          </tr>

          <tr>

            <td><b><?php echo $text_image; ?></b></td>

            <?php foreach ($products as $product) { ?>

            <td class="text-center"><?php if ($products[$product['product_id']]['thumb']) { ?>

              <img src="<?php echo $products[$product['product_id']]['thumb']; ?>" alt="<?php echo $products[$product['product_id']]['name']; ?>" title="<?php echo $products[$product['product_id']]['name']; ?>" class="img-thumbnail" style="width:150px; height:150px;" />

              <?php } ?></td>

            <?php } ?>

          </tr>

          <tr>

            <td><b><?php echo $text_price; ?></b></td>

            <?php foreach ($products as $product) { ?>

            <td><?php if ($products[$product['product_id']]['price']) { ?>

              <?php if (!$products[$product['product_id']]['special']) { ?>

              <?php echo $products[$product['product_id']]['price']; ?>

              <?php } else { ?>

              <span class="price-old"><?php echo $products[$product['product_id']]['price']; ?> </span> <span class="price-new"> <?php echo $products[$product['product_id']]['special']; ?> </span>

              <?php } ?>

              <?php } ?></td>

            <?php } ?>

          </tr>

          <tr>

            <td><b><?php echo $text_model; ?></b></td>

            <?php foreach ($products as $product) { ?>

            <td><?php echo $products[$product['product_id']]['model']; ?></td>

            <?php } ?>

          </tr>

          <tr>

            <td><b><?php echo $text_manufacturer; ?></b></td>

            <?php foreach ($products as $product) { ?>

            <td><?php echo $products[$product['product_id']]['manufacturer']; ?></td>

            <?php } ?>

          </tr>

          <tr>

            <td><b><?php echo $text_availability; ?></b></td>

            <?php foreach ($products as $product) { ?>

            <td><?php echo $products[$product['product_id']]['availability']; ?></td>

            <?php } ?>

          </tr>

          <?php if ($review_status) { ?>

          <tr>

            <td><b><?php echo $text_rating; ?></b></td>

            <?php foreach ($products as $product) { ?>

            <td class="rating"><?php for ($i = 1; $i <= 5; $i++) { ?>

              <?php if ($products[$product['product_id']]['rating'] < $i) { ?>

              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>

              <?php } else { ?>

              <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>

              <?php } ?>

              <?php } ?>

              <br />

              <?php echo $products[$product['product_id']]['reviews']; ?></td>

            <?php } ?>

          </tr>

          <?php } ?>

          <tr>

            <td><b><?php echo $text_summary; ?></b></td>

            <?php foreach ($products as $product) { ?>

            <td class="description" style="width:20%;"><?php echo $products[$product['product_id']]['description']; ?></td>

            <?php } ?>

          </tr>

          <tr>

            <td><b><?php echo $text_weight; ?></b></td>

            <?php foreach ($products as $product) { ?>

            <td><?php echo $products[$product['product_id']]['weight']; ?></td>

            <?php } ?>

          </tr>

          <tr>

            <td><b><?php echo $text_dimension; ?></b></td>

            <?php foreach ($products as $product) { ?>

            <td><?php echo $products[$product['product_id']]['length']; ?> x <?php echo $products[$product['product_id']]['width']; ?> x <?php echo $products[$product['product_id']]['height']; ?></td>

            <?php } ?>

          </tr>

        </tbody>

        <?php foreach ($attribute_groups as $attribute_group) { ?>

        <thead>

          <tr>

            <td colspan="<?php echo count($products) + 1; ?>"><strong><?php echo $attribute_group['name']; ?></strong></td>

          </tr>

        </thead>

        <?php foreach ($attribute_group['attribute'] as $key => $attribute) { ?>

        <tbody>

          <tr>

            <td><b><?php echo $attribute['name']; ?></b></td>

            <?php foreach ($products as $product) { ?>

            <?php if (isset($products[$product['product_id']]['attribute'][$key])) { ?>

            <td><?php echo $products[$product['product_id']]['attribute'][$key]; ?></td>

            <?php } else { ?>

            <td></td>

            <?php } ?>

            <?php } ?>

          </tr>

        </tbody>

        <?php } ?>

        <?php } ?>

        <tr>

          <td></td>

          <?php foreach ($products as $product) { ?>

          <td><input type="button" value="<?php echo $button_cart; ?>" class="btn btn-custom btn-block" onclick="cart.add('<?php echo $product['product_id']; ?>');" />

            <a href="<?php echo $product['remove']; ?>" class="btn btn-danger btn-block"><?php echo $button_remove; ?></a></td>

          <?php } ?>

        </tr>

      </table>

      <?php } else { ?>

      <p><?php echo $text_empty; ?></p>

      <div class="buttons">

        <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-default"><?php echo $button_continue; ?></a></div>

      </div>

      <?php } ?>

      <?php echo $content_bottom; ?></div>

    <?php echo $column_right; ?></div>

</div>

<?php echo $footer; ?>