.box-privacity-ctn {
    position: fixed;
    width: 100%;
    z-index: 9999;
    bottom: 0;
    left: 0;
}

.box-privacity-ctn .box-privacity {
    max-width: 990px;
    margin: 20px auto;
    display: block;
    z-index: 999;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    padding: 20px;
    z-index: 99999;
    background: #FFF;
    box-shadow: 0 0 20px #0000003b;
}

.box-privacity-ctn .box-privacity p {
    color: #444;
    font-size: 14px;
    line-height: inherit;
    text-align: left;
    margin: 0;
}

@media screen and (max-width: 991px) {
    .box-privacity-ctn .box-privacity {
        text-align: center;
        width: 90%;
        margin: 20px auto 60px;
    }
    .box-privacity-ctn .box-privacity p {
        text-align: center;
    }
}