<div id="search" class="topSearch">

	<input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="light" />

	<button type="button" id="quick-search"><i class="fa fa-search"></i></button>

	
</div>