<?php echo $header; ?>


<div class="breadcrumb clearfix bgGrey">
  <div class="container">
    <h5><?php echo $heading_title; ?></h5>
    <ul class="">
      <?php foreach ($breadcrumbs as $breadcrumb) { ?>
      <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
      <?php } ?>
    </ul>
  </div>
</div><!-- breadcrumb -->

<div class="container">




  <?php if ($success) { ?>



  <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?></div>



  <?php } ?>



  <?php if ($error_warning) { ?>



  <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?></div>



  <?php } ?>



  <div class="row"><?php echo $column_left; ?>



    <?php if ($column_left && $column_right) { ?>



    <?php $class = 'col-sm-6'; ?>



    <?php } elseif ($column_left || $column_right) { ?>



    <?php $class = 'col-sm-9'; ?>



    <?php } else { ?>



    <?php $class = 'col-sm-12'; ?>



    <?php } ?>



    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>

      <h1 class="title"><?php echo $text_address_book; ?></h1>     


      


      <div class="myAccount">
        <div class="myaddress">
          <div class="row">
          <?php if ($addresses) { ?>
            <?php foreach ($addresses as $result) { ?>
            <div class="col-sm-6">
              <div class="address">
                <a href="<?php echo $result['update']; ?>" class="edit"><i class="fa fa-pencil"></i></a>
                <a href="<?php echo $result['delete']; ?>" class="delete"><i class="fa fa-remove"></i></a>
              <?php echo $result['address']; ?>    
              </div>
              </div>        
              <?php }//end foreach ?>              
            <?php } else { ?>
            <div class="col-sm-12">
              <p><?php echo $text_empty; ?></p>
            </div>
            <?php } ?>


          </div>
        </div>
      </div>




      <div class="buttons clearfix">



        <div class="pull-left"><a href="<?php echo $back; ?>" class="btn btn-default"><?php echo $button_back; ?></a></div>



        <div class="pull-right"><a href="<?php echo $add; ?>" class="btn btn-purple"><?php echo $button_new_address; ?></a></div>


      </div>

      <?php echo $content_bottom; ?></div>



    <?php echo $column_right; ?></div>



</div>




<?php echo $footer; ?>